/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	/* max-width: 1340px;
	margin: auto; */
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	padding: 0 20px
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#navOn,
nav a {
	font-size: 1.2em;
	text-decoration: none;
	padding: 0 20px;
}

#navOn,
a {
	color: black;
}
#navOn:hover,
a:hover,
li:hover {
	cursor: pointer;
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	padding-bottom: 1.5%;

}
#login,
#contact {
	width: 50%;
	margin: auto;
}
#login > *,
#contact > * {
	text-align: center;

}
#login h2,
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#login form {
	text-align: left;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

#formDiv input,
#formDiv select,
#login input,
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 15px;
}
#formDiv label,
#login label,
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 15px;
}

#login a {
	color: black;
	display: flex;
	justify-content: center;
}

button[id="login-btn"],
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
	border-radius: 60px ;
	border: 0;
}
button[id="login-btn"]:hover,
input[type="submit"]:hover{
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 2em;
}

#globalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1%;
}

#globalContainer div {
	width: fit-content;
}

#globalContainer button {
	background-color: white;
	border-radius: 60px;
	border-style: solid;
	border-color: #1D6154;
	width: 100%;
	min-width: 10vw;
	height: 37px;
	margin-top: 40px;
	margin-bottom: 80px;

	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
}

#globalContainer button:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

#globalContainer button:focus {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

#loggedBand {
	margin: 0;
	height: 59px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#editorMode {
	height: 38px;
	width: 13%;
	background-color: black;
	color: white;
	border-radius: 60px;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4%;
}
#publishChanges {
	height: 38px;
	width: 20%;
	background-color: white;
	border-radius: 60px;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 600;
}
#editorMode:hover,
#publishChanges:hover {
	cursor: pointer;
}

#navOn {
	display: none;
}

.portfolio-head {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2%;
}
#loggedEdit1 {
	width: fit-content;
	display: none;
	margin-left: 10%;
	margin-top: 1%;
}
#loggedEdit2 {
	width: fit-content;
	display: none;
	margin-bottom: 2%;
	align-self: flex-start;
}
#loggedEdit3 {
	width: fit-content;
	display: none;
}
#loggedEdit1:hover,
#loggedEdit2:hover,
#loggedEdit3:hover {
	cursor: pointer;
}

#modal {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#modal h3 {
	font-size: 26px;
	text-align: center;
	margin-left: auto;
}
#modalWindow1 {
	height: fit-content;
	width: 40%;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 40px 7%;
}
#modalHead1 {
	width: 100%;
	display: flex;
}
#closeBtn2,
#closeBtn1 {
	margin-left: auto;
	background-color: rgba(0,0,0,0);
	border: none;
}
#returnBack:hover,
#closeBtn2:hover,
#closeBtn1:hover {
	cursor: pointer;
}

#editableGallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
	padding: 40px 0;
	border-bottom: 1px solid #B3B3B3;
}
button[id="addNewPictValidate"],
button[id="add-pictures"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	min-width: 22vw;
	margin: 2em auto ;
	height: 50px;
	font-size: 1.2em;
	text-align: center;
	border-radius: 60px ;
	border: 0;
}
button[id="delete-pictures"] {
	font-family: "Work Sans";
	color: #D65353;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
button[id="add-pictures"]:hover,
button[id="delete-pictures"]:hover {
	cursor: pointer;
}

#modalWindow2 {
	height: fit-content;
	width: 40%;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 40px 7% 20px 7%;
	display: none;
}
#modalHead2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
#returnBack {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
#pictureDiv {
	height: 170px;
	width: 100%;
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fa-image {
	font-size: 4em;
	color: #B9C5CC;
	margin-top: 30px;
}
#addNewPict {
	height: 36px;
	min-width: 40%;
	font-family: 'Work Sans';
	background-color: #CBD6DC;
	color: #306685;
	margin-top: 40px;
	border-radius: 50px;
	border: none;
}
#addNewPict:hover {
	cursor: pointer;
}
#pictureDiv p {
	font-size: 10px;
	margin-top: 8px;
}

#formDiv {
	padding: 0 0 40px 0;
	border-bottom: 1px solid #B3B3B3;
}
#formDiv form {
	display: flex;
	flex-direction: column;
	text-align: left;
}
#formDiv select {
	-moz-appearance: none;
  	-webkit-appearance: none;
  	appearance: none;
	background-image: url('https://cdn-icons-png.flaticon.com/512/151/151851.png');
	background-position: 95% 50%;
	background-size: 10px;
	background-repeat: no-repeat;
}